<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993087367657-30dll8psrejdtgfqsncubsqlh49hebod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993087367657-30dll8psrejdtgfqsncubsqlh49hebod</string>
	<key>API_KEY</key>
	<string>AIzaSyCFhdZriIznJkJ3Fz4NlZlT6DYzCfDw36Y</string>
	<key>GCM_SENDER_ID</key>
	<string>993087367657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>random.H-I-Personalized-Medicine</string>
	<key>PROJECT_ID</key>
	<string>h-i-medicine</string>
	<key>STORAGE_BUCKET</key>
	<string>h-i-medicine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993087367657:ios:a46bd3d250b30783724378</string>
</dict>
</plist>